In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('example.csv', delimiter = ',')
df

FileNotFoundError: File b'example.csv' does not exist

In [5]:
pd.read_csv('example.csv', delimiter = ',')

FileNotFoundError: File b'example.csv' does not exist

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('animal.csv',delimiter = ',')
df

      animal  uniq_id  water_need
0   elephant     1001         500
1   elephant     1002         600
2   elephant     1003         550
3      tiger     1004         300
4      tiger     1005         320
5      tiger     1006         330
6      tiger     1007         290
7      tiger     1008         310
8      zebra     1009         200
9      zebra     1010         220
10     zebra     1011         240
11     zebra     1012         230
12     zebra     1013         220
13     zebra     1014         100
14     zebra     1015          80
15      lion     1016         420
16      lion     1017         600
17      lion     1018         500
18      lion     1019         390
19  kangaroo     1020         410
20  kangaroo     1021         430
21  kangaroo     1022         410

In [4]:
df.to_csv('animal_output.csv',index = False)

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['StudentID','Rank','Age']
my_list = [101,5,21]
arr = np.array([101,5,21])
d = {'StudentID':101,'Rank':5,'Age':21}

In [3]:
pd.Series(data=my_list)

0    101
1      5
2     21
dtype: int64

In [4]:
pd.Series(data=my_list,index=labels)

StudentID    101
Rank           5
Age           21
dtype: int64

In [5]:
pd.Series(my_list,labels)

StudentID    101
Rank           5
Age           21
dtype: int64

In [6]:
pd.Series(arr)

0    101
1      5
2     21
dtype: int64

In [7]:
pd.Series(arr,labels)

StudentID    101
Rank           5
Age           21
dtype: int64

In [8]:
pd.Series(d)

StudentID    101
Rank           5
Age           21
dtype: int64

In [9]:
pd.Series(data=labels)

0    StudentID
1         Rank
2          Age
dtype: object

In [10]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4],index = ['Bangalore', 'Mumbai', 'Delhi', 'Gurgaon'])

In [19]:
ser1

Bangalore    1
Mumbai       2
Delhi        3
Gurgaon      4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4],index = ['Bangalore', 'Mumbai', 'Hyderabad', 'Gurgaon'])

In [21]:
ser2

Bangalore    1
Mumbai       2
Hyderabad    5
Gurgaon      4
dtype: int64

In [22]:
ser1['Mumbai']

2

In [23]:
ser1 + ser2

Bangalore    2.0
Delhi        NaN
Gurgaon      8.0
Hyderabad    NaN
Mumbai       4.0
dtype: float64

In [24]:
import pandas as pd

In [25]:
import numpy as np

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [32]:
df = pd.read_excel('WiDS_data_dictionary_v2.xlsx')

In [33]:
df

,Column Name,Question,Values
0,is_female,DG2. Is the respondent a male or a female?,1=Male\n2=Female
1,AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South
2,AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...
3,AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...
4,AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...
5,AA19,AA19. Accompanied,1=Yes\n2=No
6,AA20,AA20. Back Checked,1=Yes\n2=No
7,AA21,AA21. Scrutinized,1=Yes\n2=No
8,AB3,AB3. Interviewer Gender,1=Male\n2=Female
9,AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...
10,DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...
11,DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...
12,DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...
13,DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No
14,DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No
15,DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No
16,DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No
17,DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No
18,DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No
19,DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No
20,DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No
21,DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No
22,DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No
23,DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No
24,DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No
25,DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...
26,DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No
27,DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No
28,DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No
29,DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No
...,...,...,...
1075,DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK
1076,DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK
1077,DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK
1078,DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK
1079,MT1,MT1.How many people in your household have a m...,N/A\n99=DK
1080,MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK
1081,FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK
1082,FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK
1083,FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK
1084,FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK
1085,FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK
1086,FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK
1087,FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK
1088,FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK
1089,FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK
1090,FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK
1091,FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK
1092,FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK
1093,FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK
1094,FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK
1095,FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK
1096,FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK
1097,MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK
1098,IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK
1099,FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK
1100,FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK
1101,FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK
1102,RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK
1103,RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK
1104,RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK

In [34]:
df.set_index('Column Name', inplace = True)
df

,Question,Values
Column Name,,
is_female,DG2. Is the respondent a male or a female?,1=Male\n2=Female
AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South
AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...
AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...
AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...
AA19,AA19. Accompanied,1=Yes\n2=No
AA20,AA20. Back Checked,1=Yes\n2=No
AA21,AA21. Scrutinized,1=Yes\n2=No
AB3,AB3. Interviewer Gender,1=Male\n2=Female
AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...
DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...
DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...
DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...
DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No
DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No
DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No
DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No
DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No
DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No
DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No
DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No
DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No
DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No
DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No
DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No
DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...
DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No
DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No
DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No
DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No
...,...,...
DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK
DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK
DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK
DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK
MT1,MT1.How many people in your household have a m...,N/A\n99=DK
MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK
FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK
FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK
FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK
FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK
FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK
FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK
FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK
FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK
FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK
FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK
FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK
FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK
FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK
FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK
FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK
FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK
MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK
IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK
FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK
FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK
FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK
RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK

In [36]:
df['Question']

Column Name
is_female           DG2. Is the respondent a male or a female?
AA3                                                  AA3. Zone
AA5                                            AA5. Town Class
AA6                                         AA6. Village Class
AA8                                        AA8. Town Selection
AA19                                         AA19. Accompanied
AA20                                        AA20. Back Checked
AA21                                         AA21. Scrutinized
AB3                                    AB3. Interviewer Gender
AB6                                      AB6. Day of interview
DG3                          DG3. What is your marital status?
DG3A                                    What is your religion?
DG4              DG4. What is your highest level of education?
DG5_1        DG5.1.Do you have any of the following type of...
DG5_2        DG5.2.Do you have any of the following type of...
DG5_3        DG5.3.Do you have any of the following type of...
DG5_4        DG5.4.Do you have any of the following type of...
DG5_5        DG5.5.Do you have any of the following type of...
DG5_6        DG5.6.Do you have any of the following type of...
DG5_7        DG5.7.Do you have any of the following type of...
DG5_8        DG5.8.Do you have any of the following type of...
DG5_9        DG5.9.Do you have any of the following type of...
DG5_10       DG5.10.Do you have any of the following type o...
DG5_11       DG5.11.Do you have any of the following type o...
DG5_96       DG5.96.Do you have any of the following type o...
DG6            DG6.How are you related to the household head?
DG12B_1      DG12B.1. What type of school do the children g...
DG12B_2      DG12B.2. What type of school do the children g...
DG12C_1      DG12C.1. What type of school do the children g...
DG12C_2      DG12C.2. What type of school do the children g...
                                   ...
DG9b         DG9.B.How many adults/boys/girls earn an incom...
DG9c         DG9.C.How many adults/boys/girls earn an incom...
DL8          DL8.How much of your land is under cultivation...
DL11         DL11.In the past 12 months,how many times did ...
MT1          MT1.How many people in your household have a m...
MT6C         MT6C.On average, how much does it cost you eac...
FF7_1        FF7.1.How many of the following type of bank a...
FF7_2        FF7.2.How many of the following type of bank a...
FF7_3        FF7.3.How many of the following type of bank a...
FF7_4        FF7.4.How many of the following type of bank a...
FF7_5        FF7.5.How many of the following type of bank a...
FF7_6        FF7.6.How many of the following type of bank a...
FF7_7        FF7.7.How many of the following type of bank a...
FF7_96       FF7.96.How many of the following type of bank ...
FF8_1        FF8.1.How many of the following types of bank ...
FF8_2        FF8.2.How many of the following types of bank ...
FF8_3        FF8.3.How many of the following types of bank ...
FF8_4        FF8.4.How many of the following types of bank ...
FF8_5        FF8.5.How many of the following types of bank ...
FF8_6        FF8.6.How many of the following types of bank ...
FF8_7        FF8.7.How many of the following types of bank ...
FF8_96       FF8.96.How many of the following types of bank...
MM23         MM23.On average, for how many days do you keep...
IFI18        IFI18.How many informal societies or group sav...
FB13         FB13.How many times in the past 12 months have...
FB14         FB14.How many times in the past 12 months did ...
FB15         FB15.How many times in the past 12 months did ...
RI5_1        RI5.1.Can you give me all the mobile phone num...
RI5_2        RI5.2.Can you give me all the mobile phone num...
RI5_3        RI5.3.Can you give me all the mobile phone num...
Name: Question, Length: 1105, dtype: object

In [37]:
df[['Question','Values']]

,Question,Values
Column Name,,
is_female,DG2. Is the respondent a male or a female?,1=Male\n2=Female
AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South
AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...
AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...
AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...
AA19,AA19. Accompanied,1=Yes\n2=No
AA20,AA20. Back Checked,1=Yes\n2=No
AA21,AA21. Scrutinized,1=Yes\n2=No
AB3,AB3. Interviewer Gender,1=Male\n2=Female
AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...
DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...
DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...
DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...
DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No
DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No
DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No
DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No
DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No
DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No
DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No
DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No
DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No
DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No
DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No
DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No
DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...
DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No
DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No
DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No
DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No
...,...,...
DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK
DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK
DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK
DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK
MT1,MT1.How many people in your household have a m...,N/A\n99=DK
MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK
FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK
FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK
FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK
FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK
FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK
FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK
FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK
FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK
FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK
FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK
FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK
FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK
FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK
FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK
FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK
FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK
MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK
IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK
FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK
FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK
FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK
RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK

In [38]:
df.loc['is_female']

Question    DG2. Is the respondent a male or a female?
Values                                1=Male\n2=Female
Name: is_female, dtype: object

In [39]:
type(df['Question'])

pandas.core.series.Series

In [40]:
type(df.loc['is_female'])

pandas.core.series.Series

In [41]:
df['Q & A'] = df['Question'] + df['Values']

In [42]:
df

,Question,Values,Q & A
Column Name,,,
is_female,DG2. Is the respondent a male or a female?,1=Male\n2=Female,DG2. Is the respondent a male or a female?1=Ma...
AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South,AA3. Zone1=North\n2=East\n3=West\n4=South
AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...,AA5. Town Class1=Town Class 1\n2=Town Class 2\...
AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...,AA6. Village Class6=Village Class 1\n7=Village...
AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...,AA8. Town Selection1=Original\n2=Replacement 1...
AA19,AA19. Accompanied,1=Yes\n2=No,AA19. Accompanied1=Yes\n2=No
AA20,AA20. Back Checked,1=Yes\n2=No,AA20. Back Checked1=Yes\n2=No
AA21,AA21. Scrutinized,1=Yes\n2=No,AA21. Scrutinized1=Yes\n2=No
AB3,AB3. Interviewer Gender,1=Male\n2=Female,AB3. Interviewer Gender1=Male\n2=Female
AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...,AB6. Day of interview1=Monday\n2=Tuesday\n3=We...
DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...,DG3. What is your marital status?1=Singe/ Not ...
DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...,What is your religion?1=Christianity\n2=Islam\...
DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...,DG4. What is your highest level of education?1...
DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No,DG5.1.Do you have any of the following type of...
DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No,DG5.2.Do you have any of the following type of...
DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No,DG5.3.Do you have any of the following type of...
DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No,DG5.4.Do you have any of the following type of...
DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No,DG5.5.Do you have any of the following type of...
DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No,DG5.6.Do you have any of the following type of...
DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No,DG5.7.Do you have any of the following type of...
DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No,DG5.8.Do you have any of the following type of...
DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No,DG5.9.Do you have any of the following type of...
DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No,DG5.10.Do you have any of the following type o...
DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No,DG5.11.Do you have any of the following type o...
DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No,DG5.96.Do you have any of the following type o...
DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...,DG6.How are you related to the household head?...
DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No,DG12B.1. What type of school do the children g...
DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No,DG12B.2. What type of school do the children g...
DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No,DG12C.1. What type of school do the children g...
DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No,DG12C.2. What type of school do the children g...
...,...,...,...
DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK,DG9.B.How many adults/boys/girls earn an incom...
DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK,DG9.C.How many adults/boys/girls earn an incom...
DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK,DL8.How much of your land is under cultivation...
DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK,"DL11.In the past 12 months,how many times did ..."
MT1,MT1.How many people in your household have a m...,N/A\n99=DK,MT1.How many people in your household have a m...
MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK,"MT6C.On average, how much does it cost you eac..."
FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK,FF7.1.How many of the following type of bank a...
FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK,FF7.2.How many of the following type of bank a...
FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK,FF7.3.How many of the following type of bank a...
FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK,FF7.4.How many of the following type of bank a...
FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK,FF7.5.How many of the following type of bank a...
FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK,FF7.6.How many of the following type of bank a...
FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK,FF7.7.How many of the following type of bank a...
FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK,FF7.96.How many of the following type of bank ...
FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK,FF8.1.How many of the following types of bank ...
FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK,FF8.2.How many of the following types of bank ...
FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK,FF8.3.How many of the following types of bank ...
FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK,FF8.4.How many of the following types of bank ...
FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK,FF8.5.How many of the following types of bank ...
FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK,FF8.6.How many of the following types of bank ...
FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK,FF8.7.How many of the following types of bank ...
FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK,FF8.96.How many of the following types of bank...
MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK,"MM23.On average, for how many days do you keep..."
IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK,IFI18.How many informal societies or group sav...
FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK,FB13.How many times in the past 12 months have...
FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK,FB14.How many times in the past 12 months did ...
FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK,FB15.How many times in the past 12 months did ...
RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK,RI5.1.Can you give me all the mobile phone num...
RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK,RI5.2.Can you give me all the mobile phone num...
RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK,RI5.3.Can you give me all the mobile phone num...

In [43]:
df.drop('Q & A', axis = 1)

,Question,Values
Column Name,,
is_female,DG2. Is the respondent a male or a female?,1=Male\n2=Female
AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South
AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...
AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...
AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...
AA19,AA19. Accompanied,1=Yes\n2=No
AA20,AA20. Back Checked,1=Yes\n2=No
AA21,AA21. Scrutinized,1=Yes\n2=No
AB3,AB3. Interviewer Gender,1=Male\n2=Female
AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...
DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...
DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...
DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...
DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No
DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No
DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No
DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No
DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No
DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No
DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No
DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No
DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No
DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No
DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No
DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No
DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...
DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No
DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No
DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No
DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No
...,...,...
DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK
DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK
DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK
DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK
MT1,MT1.How many people in your household have a m...,N/A\n99=DK
MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK
FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK
FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK
FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK
FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK
FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK
FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK
FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK
FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK
FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK
FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK
FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK
FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK
FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK
FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK
FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK
FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK
MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK
IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK
FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK
FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK
FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK
RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK

In [44]:
df

,Question,Values,Q & A
Column Name,,,
is_female,DG2. Is the respondent a male or a female?,1=Male\n2=Female,DG2. Is the respondent a male or a female?1=Ma...
AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South,AA3. Zone1=North\n2=East\n3=West\n4=South
AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...,AA5. Town Class1=Town Class 1\n2=Town Class 2\...
AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...,AA6. Village Class6=Village Class 1\n7=Village...
AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...,AA8. Town Selection1=Original\n2=Replacement 1...
AA19,AA19. Accompanied,1=Yes\n2=No,AA19. Accompanied1=Yes\n2=No
AA20,AA20. Back Checked,1=Yes\n2=No,AA20. Back Checked1=Yes\n2=No
AA21,AA21. Scrutinized,1=Yes\n2=No,AA21. Scrutinized1=Yes\n2=No
AB3,AB3. Interviewer Gender,1=Male\n2=Female,AB3. Interviewer Gender1=Male\n2=Female
AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...,AB6. Day of interview1=Monday\n2=Tuesday\n3=We...
DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...,DG3. What is your marital status?1=Singe/ Not ...
DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...,What is your religion?1=Christianity\n2=Islam\...
DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...,DG4. What is your highest level of education?1...
DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No,DG5.1.Do you have any of the following type of...
DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No,DG5.2.Do you have any of the following type of...
DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No,DG5.3.Do you have any of the following type of...
DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No,DG5.4.Do you have any of the following type of...
DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No,DG5.5.Do you have any of the following type of...
DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No,DG5.6.Do you have any of the following type of...
DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No,DG5.7.Do you have any of the following type of...
DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No,DG5.8.Do you have any of the following type of...
DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No,DG5.9.Do you have any of the following type of...
DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No,DG5.10.Do you have any of the following type o...
DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No,DG5.11.Do you have any of the following type o...
DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No,DG5.96.Do you have any of the following type o...
DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...,DG6.How are you related to the household head?...
DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No,DG12B.1. What type of school do the children g...
DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No,DG12B.2. What type of school do the children g...
DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No,DG12C.1. What type of school do the children g...
DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No,DG12C.2. What type of school do the children g...
...,...,...,...
DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK,DG9.B.How many adults/boys/girls earn an incom...
DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK,DG9.C.How many adults/boys/girls earn an incom...
DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK,DL8.How much of your land is under cultivation...
DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK,"DL11.In the past 12 months,how many times did ..."
MT1,MT1.How many people in your household have a m...,N/A\n99=DK,MT1.How many people in your household have a m...
MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK,"MT6C.On average, how much does it cost you eac..."
FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK,FF7.1.How many of the following type of bank a...
FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK,FF7.2.How many of the following type of bank a...
FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK,FF7.3.How many of the following type of bank a...
FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK,FF7.4.How many of the following type of bank a...
FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK,FF7.5.How many of the following type of bank a...
FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK,FF7.6.How many of the following type of bank a...
FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK,FF7.7.How many of the following type of bank a...
FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK,FF7.96.How many of the following type of bank ...
FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK,FF8.1.How many of the following types of bank ...
FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK,FF8.2.How many of the following types of bank ...
FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK,FF8.3.How many of the following types of bank ...
FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK,FF8.4.How many of the following types of bank ...
FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK,FF8.5.How many of the following types of bank ...
FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK,FF8.6.How many of the following types of bank ...
FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK,FF8.7.How many of the following types of bank ...
FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK,FF8.96.How many of the following types of bank...
MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK,"MM23.On average, for how many days do you keep..."
IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK,IFI18.How many informal societies or group sav...
FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK,FB13.How many times in the past 12 months have...
FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK,FB14.How many times in the past 12 months did ...
FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK,FB15.How many times in the past 12 months did ...
RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK,RI5.1.Can you give me all the mobile phone num...
RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK,RI5.2.Can you give me all the mobile phone num...
RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK,RI5.3.Can you give me all the mobile phone num...

In [45]:
df.drop('Q & A',axis = 1,inplace = True)

In [46]:
df

,Question,Values
Column Name,,
is_female,DG2. Is the respondent a male or a female?,1=Male\n2=Female
AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South
AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...
AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...
AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...
AA19,AA19. Accompanied,1=Yes\n2=No
AA20,AA20. Back Checked,1=Yes\n2=No
AA21,AA21. Scrutinized,1=Yes\n2=No
AB3,AB3. Interviewer Gender,1=Male\n2=Female
AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...
DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...
DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...
DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...
DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No
DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No
DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No
DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No
DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No
DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No
DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No
DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No
DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No
DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No
DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No
DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No
DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...
DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No
DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No
DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No
DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No
...,...,...
DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK
DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK
DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK
DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK
MT1,MT1.How many people in your household have a m...,N/A\n99=DK
MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK
FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK
FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK
FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK
FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK
FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK
FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK
FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK
FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK
FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK
FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK
FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK
FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK
FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK
FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK
FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK
FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK
MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK
IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK
FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK
FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK
FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK
RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK

In [47]:
df.drop('is_female',axis = 0)

,Question,Values
Column Name,,
AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South
AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...
AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...
AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...
AA19,AA19. Accompanied,1=Yes\n2=No
AA20,AA20. Back Checked,1=Yes\n2=No
AA21,AA21. Scrutinized,1=Yes\n2=No
AB3,AB3. Interviewer Gender,1=Male\n2=Female
AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...
DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...
DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...
DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...
DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No
DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No
DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No
DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No
DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No
DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No
DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No
DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No
DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No
DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No
DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No
DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No
DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...
DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No
DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No
DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No
DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No
DG13_1,DG13.1. Have you ever experienced the followin...,1=Yes\n2=No
...,...,...
DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK
DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK
DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK
DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK
MT1,MT1.How many people in your household have a m...,N/A\n99=DK
MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK
FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK
FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK
FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK
FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK
FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK
FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK
FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK
FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK
FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK
FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK
FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK
FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK
FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK
FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK
FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK
FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK
MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK
IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK
FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK
FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK
FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK
RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK

In [48]:
df.iloc[2]

Question                                      AA5. Town Class
Values      1=Town Class 1\n2=Town Class 2\n3=Town Class 3...
Name: AA5, dtype: object

In [49]:
df.loc['RI5_1','Values']

'N/A\n99=DK'

In [53]:
df.loc[['RI5_2','RI5_2'],['Question','Values']]

                                                      Question      Values
Column Name
RI5_2        RI5.2.Can you give me all the mobile phone num...  N/A\n99=DK
RI5_2        RI5.2.Can you give me all the mobile phone num...  N/A\n99=DK

In [54]:
df

,Question,Values
Column Name,,
is_female,DG2. Is the respondent a male or a female?,1=Male\n2=Female
AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South
AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...
AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...
AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...
AA19,AA19. Accompanied,1=Yes\n2=No
AA20,AA20. Back Checked,1=Yes\n2=No
AA21,AA21. Scrutinized,1=Yes\n2=No
AB3,AB3. Interviewer Gender,1=Male\n2=Female
AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...
DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...
DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...
DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...
DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No
DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No
DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No
DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No
DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No
DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No
DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No
DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No
DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No
DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No
DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No
DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No
DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...
DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No
DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No
DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No
DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No
...,...,...
DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK
DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK
DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK
DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK
MT1,MT1.How many people in your household have a m...,N/A\n99=DK
MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK
FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK
FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK
FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK
FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK
FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK
FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK
FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK
FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK
FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK
FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK
FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK
FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK
FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK
FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK
FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK
FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK
MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK
IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK
FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK
FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK
FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK
RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK
RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK

In [55]:
df.reset_index()

,Column Name,Question,Values
0,is_female,DG2. Is the respondent a male or a female?,1=Male\n2=Female
1,AA3,AA3. Zone,1=North\n2=East\n3=West\n4=South
2,AA5,AA5. Town Class,1=Town Class 1\n2=Town Class 2\n3=Town Class 3...
3,AA6,AA6. Village Class,6=Village Class 1\n7=Village Class 2\n8=Villag...
4,AA8,AA8. Town Selection,1=Original\n2=Replacement 1\n3=Replacement 2\n...
5,AA19,AA19. Accompanied,1=Yes\n2=No
6,AA20,AA20. Back Checked,1=Yes\n2=No
7,AA21,AA21. Scrutinized,1=Yes\n2=No
8,AB3,AB3. Interviewer Gender,1=Male\n2=Female
9,AB6,AB6. Day of interview,1=Monday\n2=Tuesday\n3=Wednesday\n4=Thursday\n...
10,DG3,DG3. What is your marital status?,1=Singe/ Not married \n2=Polygamously married ...
11,DG3A,What is your religion?,1=Christianity\n2=Islam\n3=Sikhism\n4=Hinduism...
12,DG4,DG4. What is your highest level of education?,1=Illiterate- no formal education\n2=Literate ...
13,DG5_1,DG5.1.Do you have any of the following type of...,1=Yes\n2=No
14,DG5_2,DG5.2.Do you have any of the following type of...,1=Yes\n2=No
15,DG5_3,DG5.3.Do you have any of the following type of...,1=Yes\n2=No
16,DG5_4,DG5.4.Do you have any of the following type of...,1=Yes\n2=No
17,DG5_5,DG5.5.Do you have any of the following type of...,1=Yes\n2=No
18,DG5_6,DG5.6.Do you have any of the following type of...,1=Yes\n2=No
19,DG5_7,DG5.7.Do you have any of the following type of...,1=Yes\n2=No
20,DG5_8,DG5.8.Do you have any of the following type of...,1=Yes\n2=No
21,DG5_9,DG5.9.Do you have any of the following type of...,1=Yes\n2=No
22,DG5_10,DG5.10.Do you have any of the following type o...,1=Yes\n2=No
23,DG5_11,DG5.11.Do you have any of the following type o...,1=Yes\n2=No
24,DG5_96,DG5.96.Do you have any of the following type o...,1=Yes\n2=No
25,DG6,DG6.How are you related to the household head?,1=Myself\n2=Spouse\n3=Son/Daughter\n4=Father/M...
26,DG12B_1,DG12B.1. What type of school do the children g...,1=Yes\n2=No
27,DG12B_2,DG12B.2. What type of school do the children g...,1=Yes\n2=No
28,DG12C_1,DG12C.1. What type of school do the children g...,1=Yes\n2=No
29,DG12C_2,DG12C.2. What type of school do the children g...,1=Yes\n2=No
...,...,...,...
1075,DG9b,DG9.B.How many adults/boys/girls earn an incom...,N/A\n99=DK
1076,DG9c,DG9.C.How many adults/boys/girls earn an incom...,N/A\n99=DK
1077,DL8,DL8.How much of your land is under cultivation...,N/A\n99=DK
1078,DL11,"DL11.In the past 12 months,how many times did ...",N/A\n99=DK
1079,MT1,MT1.How many people in your household have a m...,N/A\n99=DK
1080,MT6C,"MT6C.On average, how much does it cost you eac...",N/A\n99=DK
1081,FF7_1,FF7.1.How many of the following type of bank a...,N/A\n99=DK
1082,FF7_2,FF7.2.How many of the following type of bank a...,N/A\n99=DK
1083,FF7_3,FF7.3.How many of the following type of bank a...,N/A\n99=DK
1084,FF7_4,FF7.4.How many of the following type of bank a...,N/A\n99=DK
1085,FF7_5,FF7.5.How many of the following type of bank a...,N/A\n99=DK
1086,FF7_6,FF7.6.How many of the following type of bank a...,N/A\n99=DK
1087,FF7_7,FF7.7.How many of the following type of bank a...,N/A\n99=DK
1088,FF7_96,FF7.96.How many of the following type of bank ...,N/A\n99=DK
1089,FF8_1,FF8.1.How many of the following types of bank ...,N/A\n99=DK
1090,FF8_2,FF8.2.How many of the following types of bank ...,N/A\n99=DK
1091,FF8_3,FF8.3.How many of the following types of bank ...,N/A\n99=DK
1092,FF8_4,FF8.4.How many of the following types of bank ...,N/A\n99=DK
1093,FF8_5,FF8.5.How many of the following types of bank ...,N/A\n99=DK
1094,FF8_6,FF8.6.How many of the following types of bank ...,N/A\n99=DK
1095,FF8_7,FF8.7.How many of the following types of bank ...,N/A\n99=DK
1096,FF8_96,FF8.96.How many of the following types of bank...,N/A\n99=DK
1097,MM23,"MM23.On average, for how many days do you keep...",N/A\n99=DK
1098,IFI18,IFI18.How many informal societies or group sav...,N/A\n99=DK
1099,FB13,FB13.How many times in the past 12 months have...,N/A\n99=DK
1100,FB14,FB14.How many times in the past 12 months did ...,N/A\n99=DK
1101,FB15,FB15.How many times in the past 12 months did ...,N/A\n99=DK
1102,RI5_1,RI5.1.Can you give me all the mobile phone num...,N/A\n99=DK
1103,RI5_2,RI5.2.Can you give me all the mobile phone num...,N/A\n99=DK
1104,RI5_3,RI5.3.Can you give me all the mobile phone num...,N/A\n99=DK

In [1]:
import numpy as np
import pandas as pd

In [2]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [4]:
df = pd.DataFrame(np.random.randn(6,2),index = hier_index,columns = ['A','B'])
df

             A         B
G1 1  0.255759  1.531937
   2  2.232175 -0.835001
   3  2.279166 -0.733505
G2 1  0.809726 -0.819149
   2  0.998819 -0.388797
   3 -0.021157 -0.759493

In [6]:
df.loc['G1']

          A         B
1  0.255759  1.531937
2  2.232175 -0.835001
3  2.279166 -0.733505

In [7]:
df.loc['G1'].loc[1]

A    0.255759
B    1.531937
Name: 1, dtype: float64

In [8]:
df.index.names

FrozenList([None, None])

In [9]:
df.index.names = ['Group','Num']

In [10]:
df

                  A         B
Group Num
G1    1    0.255759  1.531937
      2    2.232175 -0.835001
      3    2.279166 -0.733505
G2    1    0.809726 -0.819149
      2    0.998819 -0.388797
      3   -0.021157 -0.759493

In [11]:
df.xs('G1')

            A         B
Num
1    0.255759  1.531937
2    2.232175 -0.835001
3    2.279166 -0.733505

In [12]:
df.xs(['G1',1])

A    0.255759
B    1.531937
Name: (G1, 1), dtype: float64

In [13]:
df.xs(1,level='Num')

              A         B
Group
G1     0.255759  1.531937
G2     0.809726 -0.819149